.bouton_Bande_Annonce {
    position:relative;
    TEXT-ALIGN: CENTER;
    MARGIN-TOP:30%;
}

.imgJ{
    position: absolute;
    width: 15%;
    height: 45%;
    margin-left: 0%;
}
.synopsis{
    position: absolute;
    margin-left: 20%;
    margin-top: 4%;
    font-family: Comic Sans MS, Courier New, Verdana, serif;
    
}
.LPC{
    position: relative;
    width: 48%;
    text-align:left 20%;
}
.connexion{
    text-align: center;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.connexion_ecrit{
    font-size: 15px;
   float: left;
    margin-right: 10px;
}
#icon{
    font-size: 30px;
}